<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Clientele</title>
  </head>
  <body>
    <a href="/clientele">All Clientele</a>
    <form
      method="POST"
      action="/clientele/add-clientele"
      enctype="multipart/form-data"
    >
      <label for="imageUrl">Image</label>
      <input type="file" accept="image/*" name="imageUrl" />
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
