<!DOCTYPE html>
<html lang="en">
  <%- include("./../layouts/head",{pageName: "Add User" });%>
  <body>
    <a href="/users"> All User</a>
    <% if(error){%> Username Already Exists <%}%> <% if(success){%> User created
    successfully <%}%>
    <form method="post" action="/users/add-user">
      <label for="username"> UserName</label>
      <input type="text" name="username" required /><br />
      <label for="password">Password</label>
      <input type="password" name="password" required /><br />
      <input type="submit" value="Create" />
      <input type="reset" value="Reset" />
    </form>
  </body>
</html>
